node_modules
*yarn-error.log
package-lock.json
npm-debug.log
lerna-debug.log

coverage
.DS_Store
tsconfig.tsbuildinfo

.idea/

**/.env

.cache-test

/build/
/build-dist/

/mitm/socket/connect
/mitm/socket/build/
/mitm/socket/.version

emulators/data/DOM-*.json

/.mitm-ca
/.sessions
.gh
