/keys/*
node_modules
screenshots
*yarn-error.log
.idea/
package-lock.json
npm-debug.log
lerna-debug.log
coverage
.DS_Store
dist

tsconfig.tsbuildinfo

.cache
.cache-test
.http-mitm-proxy

*.js.map
*.js
!jest-*.js
!*.eslintrc.js
!**/*.config.js
**/interfaces/*.js
!/shared/logger/stackdriver.js
!emulator-plugins/**/lib/pageOverrides.js
!/emulator-plugins/fingerprint-server/lib/
!/emulator-plugins/**/scripts/*.js
/mitm/socket/connect
!/emulator-plugins/shared/page-scripts/*.js
!/emulator-plugins/test/inspectHierarchy.js
emulators/data/DOM-*.json
/mitm/socket/build/
/emulator-plugins/shared/page-scripts/index.js
build/
/website/built

/.sessions
/**/.sessions
/.mitm-ca
/**/.mitm-ca
