@import 'common-mixins';

$DIALOG_TRANSITION: 0.2s opacity;
$DIALOG_BOX_SHADOW: 0 12px 16px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.16);
$DIALOG_BORDER_RADIUS: 4px;

@mixin overlayBaseStyle() {
  @include baseStyle();
}

@mixin overlayStyle() {
  margin: 3px 16px 16px;
  box-shadow: $DIALOG_BOX_SHADOW;
  border-radius: $DIALOG_BORDER_RADIUS;
  transition: $DIALOG_TRANSITION;
  position: relative;
  background-color: var(--dropdownBackgroundColor);
  -webkit-app-region: no-drag;

  ul {
    max-height: calc(100vh - 28px);
    list-style: none;
    margin-left: 0;
    overflow-y: auto;
    padding: 0;
    li {
      cursor: pointer;
      &:hover {
        background-color: var(--menuItemHoverBackgroundColor);
      }
      margin: 0;
      padding: 5px 5px 5px 10px;
      &.active {
        font-weight: bold;
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: 0.15s ease-out 0s 1 fadeIn;
}
