node_modules
*yarn-error.log
.idea/
package-lock.json
npm-debug.log
.DS_Store

tsconfig.tsbuildinfo

**/.env
*.js.map
*.js
!**/public/*.js
!**/injected-scripts/*.js
!**/.eslintrc.js
*.pem
**/cookiejar.txt
**/test-profiles/
!/docs/js/*.js

.tmp-upload
.plugins
.yalc
.eslintcache
/stacks/data/external
/stacks/data/local
/runner/sessions/
/build
!/adjustPaths.js
!/alsoCopy.js
