**/.env
node_modules
*yarn-error.log
npm-debug.log
lerna-debug.log
.DS_Store

.idea/
.history/
.vscode/

build
build-dist
/.data-test
/.eslintcache
browserstack.err

agent/mitm-socket/dist
connect
/real-user-agents/local.log
