[submodule "specifications"]
	path = specifications
	url = https://github.com/unblocked-web/specifications.git
[submodule "agent"]
	path = agent
	url = https://github.com/unblocked-web/agent
[submodule "js-path"]
	path = js-path
	url = https://github.com/unblocked-web/js-path
[submodule "double-agent"]
	path = double-agent
	url = https://github.com/unblocked-web/double-agent
