html, body {
  background-color: var(--bg);
  touch-action: manipulation;
  width: 100%;
  transition: background-color .3s;
}

#app {
  color: var(--body-color);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body *:target {
  animation: target 2s;
}

@keyframes target {
  0% {
    opacity: 0;
  }
  100% {
     opacity: 1;
   }
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

hr {
  background-color: var(--border-color)!important;
}

a {
  cursor: pointer;
}
::selection { background: var(--select-color); }
