.section.doc-content {
  padding-top: 2%;
}

.post {

  max-width: 100%;

  ul li {
    margin-bottom: .5rem;
  }

  p > img {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1000px) {
    img {
      max-width: 110%;
      margin-left: -5%;
    }
  }


  h1, h2, h3 {
    margin-top: 1rem;

    a {
      float: left;
      top: 0.12em;
      margin-left: -1.2em;
      font-size: 0.85em;
      text-align: center;
      width: 0.8em;
      opacity: 0.0;
      color: var(--primary-color-dark);
      box-shadow: none;
      background: none;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: calc(100% + 0.5em);
      }

      &::after {
        display: none;
      }
    }

    &:hover a{
      opacity: 1;
    }
  }

  h2 {
    margin-top: 2rem;

    &::before {
      content: " ";
      display: block;
      margin-bottom: 1.5rem;
      border-top: 2px solid var(--border-color);
      transition: border-color .3s;
    }
  }

  h3 {
    &::before {
      content: " ";
      display: block;
      margin-bottom: 1.5rem;
      border-top: 1px dashed var(--border-color-darker);
      transition: border-color .3s;
    }
  }

  h3 {
    opacity: .9;
    margin-bottom: 1rem;
    span {
      display: inline-block;
      margin-left: 10px;
      border-left: 4px solid;
      min-width: 20px;
      vertical-align: baseline;
      border-radius: 2px;
      padding: .35em .35em .3em;
      background-color: #eee;
      font-family: Helvetica,arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      position: relative;
      top: -2px;
    }
  }

  h3 {
    margin-top: 1.8rem;

    .specs {
      float: right;
      i {
        color: var(--inline-code-text);
        background: var(--inline-code-bg);
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: inset 1px 1px 0 white;
        border-radius: 2px;
        padding: 1px 3px;
        display: inline-block;
        font-size: 0.8rem;
        margin-left: 7px;
      }
    }
    em {
      font-weight: normal;
      font-style: normal;
      margin-left: 3px;
    }
  }

  h4 {
    font-weight: normal;
    strong {
      font-weight: 700;
    }
  }

  ul + h4 {
    margin-top: -0.0rem;
  }

  h4 + p {
    margin-top: 1.0rem;
  }

  pre + h4 {
    margin-top: 2.5rem;
  }

  h4, h5, h6 {
    opacity: .8;
    margin-bottom: 10px }

  h1 a, h4 a, h5 a, h6 a {
    display: none;
  }

  p, ul {
    position: relative;
    z-index: 1;
  }

  ul > li > p {
    font-weight: 400;
  }

  table {
    thead { display: none; }
    td, th { border-left: 25px solid transparent; }
    th:first-child, td:first-child {
      border-left: 0;
    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
    a {
      text-decoration: none;
    }
  }

  table + h3 {
    margin-top: 2.3rem;
  }

  p + table, p + .show-table-header + table {
    margin-top: -10px;
  }

  .show-table-header + table {
    thead { display: revert; }
  }
  .show-bottom-border + table {
    tr:last-child td {
      border-bottom: 1px solid hsla(0,0%,0%,0.12);
    }
  }
  .minimal-row-height + table {
    th, td {
      padding-top: 0.2rem;
      padding-bottom: calc(0.2rem - 1px);
    }
  }

  :not(pre) > code {
    padding: 0.2rem 0.1rem !important;
  }
}

.github-edit-link {
  font-size: .9rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
  margin-top: 3rem;

  &:not(:hover) {
    color: var(--primary-color-dark);
  }

  svg {
    margin-right: .5rem;
  }
}

.docs-nav {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-top: 1px solid var(--border-color);

  &__title {
    margin: 0;
    font-size: 0.75em;
  }

  &__link {
    border: 1px solid var(--border-color);
  }
}
