input {
  width: 100%;
  padding: .34rem .8rem;
  border-radius: 5px;
  color: var(--body-color);
  border: 0;
  transition: background .3s, box-shadow .3s;
  background-color: var(--bg-teritary);

  &:focus {
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--primary-color);
  }
}
