a {
  transition: color .3s, opacity .3s, background .3s, text-decoration .5s;
  position: relative;
  text-decoration: underline;
  color: var(--primary-color-dark);
  text-decoration-color: var(--border-color);

  &:hover {
    color: var(--body-color);
    text-decoration-color: var(--body-color);
  }

  svg + & {
    margin-left: .5rem;
  }

  code & {
    color: currentColor;
    font-weight: bold;
  }
}

a:hover:not(.active) {
  opacity: 1;
}
