name: New Version

on:
  push:
    tags:
      - 'v*'

jobs:
  replay-and-site:
    runs-on: macos-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Yarn install
        run: yarn install --network-timeout 1000000

      - name: Build
        run: yarn build

      - name: Electron Builder
        run: yarn build:pack
        working-directory: ./replay
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          assets=()
          for asset in ./build/replay/dist/assets/*; do
            assets+=("-a" "$asset")
          done
          tag_name="${GITHUB_REF##*/}"
          hub release edit "${assets[@]}" -m "" "$tag_name"

      - name: Build Webite
        run: yarn build
        working-directory: ./website

      - name: Deploy Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build-dist/website
          commit_message: "[skip ci] Updates"

  socket:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - name: Build Sockets
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --debug
          workdir: ${{ github.workspace }}/mitm-socket
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
